<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tfg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fat_cat_icon"
        android:label="FatCat"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".act.activities.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".act.activities.AddEjercicio" />
        <activity android:name=".act.activities.AddDia" />
        <activity android:name=".act.activities.AddSemana" />
        <activity android:name=".act.activities.EditarSemana" />
        <activity android:name=".act.activities.RutinaActivity" />
        <activity android:name=".act.activities.ListaEjercicios" />
        <activity android:name=".act.activities.Calendar" />
        <activity android:name=".act.activities.ConfigPass" />
        <activity android:name=".act.activities.ConfigUser" />
        <activity android:name=".act.activities.Conectado" />
        <activity android:name=".act.activities.Creacion" />
        <activity android:name=".act.MainActivity"></activity>
    </application>

</manifest>